
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="container-fluid">
    <div class="row row-offcanvas row-offcanvas-right">
        <!-- partial:partials/_sidebar.html -->
        <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
            <div class="user-info">
                <img src="~/images/face.jpg" alt="">
                <p class="name">Richard V.Welsh</p>
                <p class="designation">Manager</p>
                <span class="online"></span>
            </div>
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="~/Admin">
                        <img src="~/images/icons/1.png" alt="">
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Accounts">
                        <img src="~/images/icons/1.png" alt="">
                        <span class="menu-title">Account</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Invoices">
                        <img src="~/images/icons/1.png" alt="">
                        <span class="menu-title">Invoice</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/Products">
                        <img src="~/images/icons/1.png" alt="">
                        <span class="menu-title">Product</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="~/ProductTypes">
                        <img src="~/images/icons/1.png" alt="">
                        <span class="menu-title">Product Type</span>
                    </a>
                </li>                           
            </ul>
        </nav>
</div>
</div>