@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- BEGIN HEADER -->
<div class="header">
    <div class="container">
        <a class="site-logo" asp-action="index" asp-controller="home"><img src="~/assets/corporate/img/logos/logo-shop-red.png" alt="Metronic Shop UI"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN CART -->
        <div class="top-cart-block">
            <div class="top-cart-info">
                <a asp-action="Cart" asp-controller="Home" class="top-cart-info-count">3 sản phẩm</a>
                <a asp-action="Cart" asp-controller="Home" class="top-cart-info-value">1260000</a>
            </div>
            <i class="fa fa-shopping-cart"></i>

            
        </div>
        <!--END CART -->
        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation">
            <ul>
                <li class="dropdown">
                    <a  asp-action="productlist" asp-controller="home"  asp-route-id="1">
                        Nam giới
                    </a>
                    <!-- BEGIN DROPDOWN MENU -->
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                            <a href="shop-product-list.html">Bán chạy nhất <i class="fa fa-angle-right"></i></a>
                        </li>
                        <li><a href="shop-product-list.html">Hàng khuyến mãi</a></li>
                        <li><a href="shop-product-list.html">Hàng mới</a></li>
                    </ul>
                    <!-- END DROPDOWN MENU -->
                </li>
                
                <!-- BEGIN TOP SEARCH -->
                <li class="menu-search">
                    <span class="sep"></span>
                    <i class="fa fa-search search-btn"></i>
                    <div class="search-box">
                        <form action="#">
                            <div class="input-group">
                                <input type="text" placeholder="Search" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Tìm kiếm</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </li>
                <!-- END TOP SEARCH -->
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>
<!-- Header END -->