<div class="sidebar col-md-3 col-sm-5">
    <ul class="list-group margin-bottom-25 sidebar-menu">
        <li class="list-group-item clearfix"><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Nữ giới</a></li>
        <li class="list-group-item clearfix dropdown active">
            <a href="javascript:void(0);" class="collapsed">
                <i class="fa fa-angle-right"></i>
                Nam giới

            </a>
            <ul class="dropdown-menu" style="display:block;">
                <li class="list-group-item dropdown clearfix active">
                    <a href="javascript:void(0);" class="collapsed"><i class="fa fa-angle-right"></i> Đôi giày </a>
                    <ul class="dropdown-menu" style="display:block;">
                        <li class="list-group-item dropdown clearfix">
                            <a href="javascript:void(0);"><i class="fa fa-angle-right"></i> Đôi giày </a>
                            <ul class="dropdown-menu">
                                <li><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Đôi giày 1</a></li>
                                <li><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Đôi giày 2</a></li>
                            </ul>
                        </li>
                        <li class="list-group-item dropdown clearfix active">
                            <a href="javascript:void(0);" class="collapsed"><i class="fa fa-angle-right"></i>Thể thao  </a>
                            <ul class="dropdown-menu" style="display:block;">
                                <li class="active"><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Thể thao 1</a></li>
                                <li><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Thể thao 2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i>Quần âu</a></li>
                <li><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Loại Jeans</a></li>
                <li><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Loại da</a></li>
                <li><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Loại thời trang</a></li>
            </ul>
        </li>
        <li class="list-group-item clearfix"><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i>Đồ trẻ em</a></li>
        <li class="list-group-item clearfix"><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Phụ kiện</a></li>
        <li class="list-group-item clearfix"><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Thể thao</a></li>
        <li class="list-group-item clearfix"><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Nhãn hiệu</a></li>
        <li class="list-group-item clearfix"><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Thiết bị điện tử</a></li>
        <li class="list-group-item clearfix"><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> nhà và vườn</a></li>
        <li class="list-group-item clearfix"><a asp-action="Productlist" asp-controller="home"><i class="fa fa-angle-right"></i> Sản phẩm khác</a></li>
    </ul>
    </div>