@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Lỗi.</h1>
<h2 class="text-danger">Đã xảy ra lỗi trong khi xử lý yêu cầu của bạn.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Yêu cầu ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>chế độ phát triển</h3>
<p>
    Chuyển sang <strong>Sự phát triển</strong> môi trường sẽ hiển thị thông tin chi tiết hơn về lỗi đã xảy ra.
</p>
<p>
    <strong>Không nên bật môi trường Phát triển cho các ứng dụng đã triển khai.</strong>
    Nó có thể dẫn đến việc hiển thị thông tin nhạy cảm từ các trường hợp ngoại lệ cho người dùng cuối.
    Để gỡ lỗi cục bộ, hãy bật <strong>Sự phát triển</strong> môi trường bằng cách thiết lập <strong>ASPNETCORE_ENVIRONMENT</strong> biến môi trường thành <strong>Sự phát triển</strong>
    và khởi động lại ứng dụng.
</p>
